<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= item.sale_price %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= item.purchase_price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

</div>
