<!DOCTYPE html>
<html>
  <head>
    <title>Items Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <!-- Cabeçalho da página -->
    <header>
      <h1>Produtos</h1>
      
    </header>

    <!-- Exibindo a notificação (se houver) -->
    <p style="color: green"><%= notice %></p>

    <!-- Conteúdo principal da página -->
    <div id="items" data-controller="items">
      <% @items.each do |item| %>
        <div class="item-card" data-controller="item">
          <!-- Exibindo a imagem do item -->
          <h2><%= item.name %></h2>

          <div>
          <% if item.images.attached? %>
          <%= image_tag item.images.first, size: "300x300", class: "fotos" %>
          <% else %>
            <p>No image available.</p>
          <% end %>
          </div>
          
          <p><%= item.description %></p>
          <p><%= number_to_currency(item.sale_price) %></p>
          <div>
            <%= link_to "Show this item", item_path(item) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="novo">
        <!-- Link para adicionar um novo item -->
        <%= link_to "novo", new_item_path %>
    </div>
  </body>
</html>
